# yaml-language-server: $schema=https://json.schemastore.org/prometheus.json

scrape_configs:
  - job_name: cadvisor
    static_configs:
      - targets:
          - "10.10.10.105:8069" # gateway
          - "10.10.10.107:8069" # media
          - "10.10.10.108:8069" # build
          - "10.10.10.109:8069" # monitor
          - "10.10.10.111:8069" # game
          - "10.10.10.112:8069" # mail
          - "10.10.10.113:8069" # files
          - "10.10.10.114:8069" # etc

  - job_name: traefik
    static_configs:
      - targets:
          - "10.10.10.105:8080"

  - job_name: tor
    static_configs:
      - targets:
          - "10.10.10.105:9091"

  - job_name: crowdsec
    static_configs:
      - targets:
          - "10.10.10.114:6060"

  - job_name: monero
    metrics_path: /probe
    params:
      module: [monero]
    static_configs:
      - targets:
          - "http://10.10.10.105:18089/get_info"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: json-exporter:7979
