# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json

log:
  level: WARN

experimental:
  otlplogs: true
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.6

api:
  insecure: false

metrics:
  prometheus:
    headerLabels:
      useragent: User-Agent

tracing:
  addInternals: true
  otlp:
    grpc:
      endpoint: "10.10.10.109:4317" # victoria-traces
      insecure: true

accessLog:
  format: json
  fields:
    headers:
      defaultMode: drop # drop all headers per default
      names:
        User-Agent: keep
        ServiceName: keep
        RouterName: keep
  otlp:
    http:
      endpoint: http://10.10.10.109:9428/insert/opentelemetry/v1/logs # victoria-logs

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    allowEmptyServices: true
    watch: true

  redis:
    endpoints:
      - "@redis@:6379"

  file:
    filename: "@file@"
    watch: true

entryPoints:
  http:
    address: ":80"
    http3: {}
    http:
      redirections:
        entryPoint:
          to: "https"
          scheme: "https"

  https:
    address: ":443"
    asDefault: true
    http3: {}
    http:
      tls:
        certResolver: "letsencrypt"
        domains:
          - main: "trev.kiwi"
            sans:
              - "*.trev.kiwi"

          - main: "trev.rs"
            sans:
              - "*.trev.rs"

          - main: "trev.xyz"
            sans:
              - "*.trev.xyz"

          - main: "trev.zip"
            sans:
              - "*.trev.zip"
              - "*.s3.trev.zip"
              - "*.web.trev.zip"

          - main: "trev.コム"
            sans:
              - "*.trev.コム"

  minecraft:
    address: ":25565"

  plex:
    address: ":32400"

  satisfactory-server:
    address: ":7777/tcp"
  satisfactory-query:
    address: ":7777/udp"
  satisfactory-game:
    address: ":8888/tcp"

certificatesResolvers:
  letsencrypt:
    acme:
      email: "me@trev.xyz"
      storage: "@acme@/acme.json"
      dnsChallenge:
        provider: "cloudflare"
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53
