# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3-file-provider.json

http:
  middlewares:
    auth-trev:
      digestAuth:
        removeHeader: true
        usersFile: "@user-trev@"

    auth-admin:
      digestAuth:
        removeHeader: true
        usersFile: "@user-admin@"

tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: "letsencrypt"
  options:
    default:
      minVersion: "VersionTLS12"
