# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3-file-provider.json

http:
  middlewares:
    auth-trev:
      basicAuth:
        removeHeader: true
        usersFile: "@user-trev@"

    auth-admin:
      basicAuth:
        removeHeader: true
        usersFile: "@user-admin@"
