# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3-file-provider.json

http:
  middlewares:
    cors:
      headers:
        customResponseHeaders:
          Access-Control-Allow-Origin: "*"
          Access-Control-Allow-Methods: "*"
          Access-Control-Allow-Headers: "*"

    limit:
      rateLimit:
        average: 100
        period: 1s
        burst: 200

    auth-trev:
      basicAuth:
        removeHeader: true
        usersFile: "@user-trev@"

    auth-admin:
      basicAuth:
        removeHeader: true
        usersFile: "@user-admin@"

    secure-trev:
      chain:
        middlewares:
          - limit
          - auth-trev

    secure-admin:
      chain:
        middlewares:
          - limit
          - auth-admin
