# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3-file-provider.json

http:
  middlewares:
    cors:
      headers:
        customResponseHeaders:
          Access-Control-Allow-Origin: "*"
          Access-Control-Allow-Methods: "*"
          Access-Control-Allow-Headers: "*"

    security-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        frameDeny: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000
        referrerPolicy: "same-origin"

    rate-limit:
      rateLimit:
        average: 100
        period: 1s
        burst: 200

    crowdsec:
      plugin:
        bouncer:
          enabled: true
          defaultDecisionSeconds: 60
          crowdsecMode: live
          # prettier-ignore
          crowdsecLapiKey: {{ env "CROWDSEC" }}
          crowdsecLapiHost: 10.10.10.114:6061
          crowdsecLapiScheme: http
          crowdsecLapiTLSInsecureVerify: false
          forwardedHeadersTrustedIPs:
            # private class ranges
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
          clientTrustedIPs:
            # private class ranges
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16

    auth-trev:
      basicAuth:
        removeHeader: true
        usersFile: "@user-trev@"

    auth-admin:
      basicAuth:
        removeHeader: true
        usersFile: "@user-admin@"

    secure:
      chain:
        middlewares:
          - security-headers
          - rate-limit
          - crowdsec

    secure-trev:
      chain:
        middlewares:
          - security-headers
          - rate-limit
          - crowdsec
          - auth-trev

    secure-admin:
      chain:
        middlewares:
          - security-headers
          - rate-limit
          - crowdsec
          - auth-admin
