# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3-file-provider.json

http:
  middlewares:
    auth-trev:
      digestAuth:
        realm: "traefik"
        removeHeader: true
        usersFile: "@user-trev@"

    auth-admin:
      digestAuth:
        realm: "traefik"
        removeHeader: true
        usersFile: "@user-admin@"
