name: check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}

permissions:
  contents: read
  id-token: write

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      hosts: ${{ steps.hosts.outputs.hosts }}
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@33dd78ad344e4e6d4ef4c1ef8e135786125e9b0c # v1.27.5
        with:
          shell: check

      - name: Run checks
        run: nix flake check

      - id: hosts
        name: Get hosts
        run: |
          HOSTS=$(nix flake show --json | jq -c '.nixosConfigurations | keys' | jq -c)
          echo "hosts=$HOSTS" >> $GITHUB_OUTPUT

  build:
    needs: check
    if: ${{ github.event_name != 'push' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host: ${{ fromJSON(needs.check.outputs.hosts) }}
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@33dd78ad344e4e6d4ef4c1ef8e135786125e9b0c # v1.27.5
        with:
          shell: check

      - name: Build packages
        run: |
          nix-fast-build \
            --skip-cached \
            --no-nom \
            --flake ".#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel"

  build-status:
    needs: [check, build]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Failed
        if: ${{ (contains(needs.*.result, 'failure')) || (contains(needs.*.result, 'cancelled')) }}
        run: exit 1

      - name: Success
        run: echo "All jobs completed successfully."
