name: check

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.packages }}
    steps:
      - name: Initialize
        uses: spotdemo4/nix/.github/actions/init@main
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      # - name: Run checks
      #   run: nix flake check --accept-flake-config

      - name: Find packages to build
        id: packages
        run: |
          PACKAGES=$(nix-eval-jobs --check-cache-status --flake ".#nixosConfigurations.desktop.config.system.build.toplevel" --option accept-flake-config true | jq -c ".neededBuilds")
          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT

          readarray -t DERIVATIONS < <(echo $PACKAGES | jq -r ".[]")
          for derivation in "${DERIVATIONS[@]}"; do
            echo "Derivation to cache: $derivation"
            ls -lah "$derivation"
            nix copy --to file:///tmp/cache "$derivation"
          done

      - uses: actions/upload-artifact@v4
        with:
          name: derivations
          path: /tmp/cache

  build:
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ${{ fromJSON(needs.check.outputs.packages) }}
    steps:
      - uses: wimpysworld/nothing-but-nix@main

      - name: Install nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31.8.1

      - uses: actions/download-artifact@v5
        with:
          name: derivations
          path: /tmp/cache

      - name: Populate nix store
        run: nix copy --from file:///tmp/cache "${{ matrix.package }}"

      - name: Setup attic cache
        uses: ryanccn/attic-action@7fbafba3978e86e585cb68a82c08b30f3672b62d # v0.4.0
        with:
          endpoint: https://cache.trev.zip/
          cache: nixos
          token: ${{ secrets.ATTIC_TOKEN }}

      - name: Build ${{ matrix.package }}
        run: nix-store --realise "${{ matrix.package }}"
