name: check

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.packages }}
    steps:
      - name: Initialize
        uses: spotdemo4/nix/.github/actions/init@main
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      - name: Run checks
        run: nix flake check --accept-flake-config

      - name: Find packages to build
        id: packages
        run: |
          PACKAGES=$(nix-eval-jobs --check-cache-status --flake ".#nixosConfigurations.desktop.config.system.build.toplevel" | jq ".neededBuilds")
          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT

  build:
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: ${{ fromJSON(needs.check.outputs.packages) }}
    steps:
      - name: Initialize
        uses: spotdemo4/nix/.github/actions/init@main
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      - name: Build ${{ matrix.package }}
        run: nix-store --realise "${{ matrix.package }}"
