name: check

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix/.github/actions/init@main
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      - name: Run checks
        run: nix flake check --accept-flake-config

  build:
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host: ["desktop", "gateway"]
    steps:
      - name: Initialize
        uses: spotdemo4/nix/.github/actions/init@main
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      - name: Build ${{ matrix.host }}
        run: nix-fast-build
          --no-nom
          --skip-cached
          --attic-cache nixos
          --max-jobs 1
          --eval-workers 1
          --flake ".#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel"
          --option accept-flake-config true
