name: check

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix/.github/actions/init@main
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      - name: Run flake checks
        run: nix-fast-build --no-nom --skip-cached
