name: update

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - id: init
        name: Initialize
        uses: spotdemo4/nix-init@db612fdb73875f6aac1a51d1db58e438c120a031 # v1.27.0
        with:
          niks3_audience: https://niks3.trev.zip
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}
          shell: update

      - name: Renovate
        run: renovate
        env:
          RENOVATE_CONFIG_FILE: .github/renovate.json
          RENOVATE_TOKEN: ${{ steps.init.outputs.token }}
          LOG_LEVEL: ${{ runner.debug == '1' && 'debug' || 'info' }}
