name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@23b6a794a9cb73f2517371c9040d72b6ec25c36c # v1.5.5
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nixos
          shell: ci

      - name: Check flake
        run: flake-checker -f
