name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@59e9eaa3d67e67b17b92ce2c6ffc83deed76fc91 # v1.11.0
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nixos
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
