name: vulnerable

on:
  schedule:
    - cron: "9 9 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix/.github/actions/init@main
        with:
          attic_cache: nixos
          attic_token: ${{ secrets.ATTIC_TOKEN }}

      - name: Check flake
        run: flake-checker -f
