name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  flake:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@b80cbe5c81391f01badbe906f05ec34d7aef53c5 # v1.16.0
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_cache: nixos
          shell: vulnerable

      - name: Check flake
        run: flake-checker -f
